{% extends "bootstrap/base.html" %}
{% block scripts %}
    {{ super() }}
    <!-- <script src="//cdn.ckeditor.com/4.4.6/basic/ckeditor.js"></script> -->
    <script src="//cdn.ckeditor.com/4.4.6/standard/ckeditor.js"></script> 
    <link type="text/css" href="{{ url_for('static', filename = 'global.css') }}" rel="stylesheet" >
    <!-- <script src="//cdn.ckeditor.com/4.4.6/full/ckeditor.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'timeEvent.js') }}"></script>
{% endblock scripts %}

{% block body %}
  {% include "nav.html" %}
  {% include "messages.html" %}
  {{ super() }}
  {% include "footer.html" %}
{% endblock body %}
