{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="container">
<br/><br/>

     {% if name %}
      <h4>  
          <div class="row">
              <div class="col-md-8"> Hello, {{ name }} </div>
              <div class="col-md-4">  <a href="/user/logout">Logout</a> </div>
          </div>
      </h4>
     {% endif %}


      <div class="row">
          <div class="col-md-6"> <h4> <a href="/events/list/1"> SHOW MY EVENTS</a></h4> </div>
          <div class="col-md-6"> <h4> <a href="/events/add"> ADD NEW EVENTS</a></h4> </div>
      </div>
            <div class="col-md-12"> <h3>Welcom to Bootstrap</h3></div>


</div>



{% endblock %}

