{% extends "base.html" %}
{% block title %} Add Event {% endblock title %}

{% block content %}
 <div class="container-fluid">
    <div class="form-group col-md-12">
        <br><br>
        <nav class="nav nav-pills">
            <li role="presentation" class="active"><a href="/events/list/1" class="btn btn-link"> events list </a></li>
            <li role="presentation"><a href="/" class="btn btn-link"> WITH PROBLEM ?</a></li>
        </nav>
        <br>
        <form action="/events/add" method="POST">
            {{ form.hidden_tag() }}
             <div class="form-group col-md-12">
             <legend>EVENT ADDICTION</legend>
                <label class="col-md-8 control-label">
                    {{ form.title.label(class="orm-group col-md-4") }}
                    {{ form.title(class="form-group-lg") }}
                </label>
                <label class="col-md-12 control-label">
                    {{ form.body.label(class="orm-group") }}
                    {{ form.body(class="ckeditor")  }}
                </label>
                <label class="col-md-8 control-label">
                    {{ form.pub_date.label(class="orm-group col-md-2") }}
                    {{ form.pub_date(class="form-group-lg") }}
                </label><label class="col-md-8 control-label">
                  {{ form.submit(class_="btn label-success") }}
                </label>

            </div>
        </form>
    </div>
</div>
{% endblock %}
