{% extends "base.html" %}

{% block title %} 
    {% if content.title %}
        {{ content.title }}
    {% endif %}
{% endblock title %}

{% block content %}
 <div class="container">

     {% if content %}
        <div class="row h4">
        {{ content.title }}
        </div>

        <div class="row">
        <p class="bg-info">{{ content.pub_date }}</p>
        </div>

        <div class="row">
        {% autoescape false %}
            {{ content.body }}
        {% endautoescape %}
        </div>
     {% endif %}


 </div>
{% endblock content %}