{% extends "base.html" %}
{% block content %}
    {{ super() }}
 <div class="container">
    <div class="form-group">
        <br><br>
        <div class="row">
            <div class="col-md-8"><a href="/user/register" class="btn btn-link"> No account,Register now? </a></div>
            <div class="col-md-4"><a href="/users/list" class="btn btn-link"> SHOW USERS </a> </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                 <form action="/user/loginVerify" method="POST">
                        {{ form.csrf_token }}
                        <label class="col-md-8 control-label">
                            {{ form.name.label(class="orm-group col-md-4") }}
                            {{ form.name(class="form-control") }}
                        </label>
                        <label class="col-md-8 control-label">
                            {{ form.password.label(class="orm-group col-md-4") }}
                            {{ form.password(class="form-control") }}
                        </label>
                        </label><label class="col-md-8 control-label">
                          {{ form.submit(class="btn label-info") }}
                        </label>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>        


    </div>
</div>
{% endblock %}