{% extends "base.html" %}

{% block content %}
 <div class="container">
    <div class="form-group col-md-12">
        <br><br>
        <nav class="nav nav-pills">
            <li role="presentation" class="active"><a href="/user/login" class="btn btn-link"> BACK TO LOGIN </a></li>
            <li role="presentation"><a href="/user/login" class="btn btn-link"> HAVE ACCOUNT ?</a></li>
        </nav>
        <br>
        <form action="/user/register" method="POST">
            {{ form.hidden_tag() }}
             <div class="form-group col-md-8">
             <legend>USER REGISTER</legend>
                <label class="col-md-8 control-label">
                    {{ form.name.label(class="orm-group col-md-4 ") }}
                    {{ form.name(class="form-control", required="true") }}
                </label>
                <label class="col-md-8 control-label">
                    {{ form.password.label(class="orm-group col-md-4") }}
                    {{ form.password(class="form-control", required="true") }}
                </label>
                <label class="col-md-8 control-label">
                    {{ form.email.label(class="orm-group col-md-4") }}
                    {{ form.email(class="form-control", required="true") }}
                </label>
                <label class="col-md-8 control-label">
                    {{ form.extra.label(class="orm-group col-md-4") }}
                    {{ form.extra(class="form-control") }}
                </label><label class="col-md-8 control-label">
                  {{ form.submit(class="btn label-success") }}
                </label>
            </div>
        </form>
    </div>
</div>
{% endblock content %}